$white: #fffbff;
$grey: #e0e0e0;
$black: #040305;

$jaffa: #f19a38;
$medium-purple: #ab67ed;
$cranberry: #de4c8d;
$astronaut: #222a68;
$royal-blue: #574ae2;
$dodger-blue: #2887f7;
$sea-green: #2c9645;
$cinnabar: #e35428;
$wild-blue: #7e83b0;

$cinder: #040305;
