@import './../../scss/colors.scss';

.promo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 1424px;
  height: 188px;

  margin: 0 auto 244px auto;

  background-color: $astronaut;
  color: $white;

  font-family: 'CeraPro';

  border-radius: 10px;
}

.promo__description {
  margin-left: 40px;
}

.promo__description__header {
  font-size: 32px;
  font-weight: 500;
}

.promo__description__text {
  max-width: 512px;
}

.promo__image {
  position: relative;
  bottom: -50px;
}
